{% extends 'base.html' %}

{% load static %}


{% block content %}


 <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">

            <div class="col-lg-6 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <h1 style="color:#0d6efd;font-weight:900;font-size:5rem;">Mudra</h1>

              <p style="font-size:18px;color:#303030;line-height:1.7;">You can create your own full profile and share with HR directly, without any cost. Now you can create your online
                  profile and share your profile link with anyone to help who are you. And also you can share with your HR as a resume.
              </p>

            </div>


            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="{% url 'home' %}" class="logo d-flex align-items-center w-auto">
                  <img src="{% static 'assets/img/logo.png' %}" alt="">
                  <span class="d-none d-lg-block">Mudra</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                    <p class="text-center small">Enter your personal details to create account</p>
                  </div>

                  <form class="row g-3 needs-validation" novalidate>
                    <div class="col-12">
                      <input type="text" name="name" class="form-control"  placeholder='Your Name' required>
                      <div class="invalid-feedback">Please, enter your name!</div>
                    </div>

                    <div class="col-12">
                      <input type="email" name="email" class="form-control" id="yourEmail" placeholder='Email adddress' required>
                      <div class="invalid-feedback">Please enter a valid Email adddress!</div>
                    </div>

                    <div class="col-12">
                      <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                        <input type="text" name="username" class="form-control"  placeholder='Username' required>
                        <div class="invalid-feedback">Please choose a username.</div>
                      </div>
                    </div>

                    <div class="col-12">
                      <input type="password" name="password" class="form-control" placeholder='Password' required>
                      <div class="invalid-feedback">Please enter your password!</div>
                    </div>

                    <div class="col-12">
                      <input type="password" name="confirm_password" class="form-control" placeholder='Confirm Password' required>
                      <div class="invalid-feedback">Please enter your confirm password!</div>
                    </div>

                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Create Account</button>
                    </div>
                    <div class="col-12">
                      <p class="small mb-0">Already have an account? <a href="{% url 'home' %}">Log in</a></p>
                    </div>
                  </form>

                </div>
              </div>

            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->


{% endblock %}