{% load static %}

<!DOCTYPE html>
<html lang="en"> 
<head>
	<title>{{ title }} - Resume</title>
	
	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="Xiaoying Riley at 3rd Wave Media">    
	{% comment %} <link rel="shortcut icon" href="{% static 'devassets/favicon.ico' %}"> {% endcomment %}
	<link rel="shortcut icon" href="{{ resume.profile_photo.url }}">
	
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
	
	<!-- FontAwesome JS-->
	<script defer src="{% static 'devassets/assets/fontawesome/js/all.min.js' %}"></script>
	
	<!-- Theme CSS -->  
	<link id="theme-style" rel="stylesheet" href="{% static 'devassets/assets/css/devresume.css' %}">

</head> 

<body>
	
	<div class="main-wrapper">
		<div class="container px-3 px-lg-5">
			<article class="resume-wrapper mx-auto theme-bg-light p-5 mb-5 my-5 shadow-lg">
				
				<div class="resume-header">
					<div class="row align-items-center">
						<div class="resume-title col-12 col-md-6 col-lg-8 col-xl-9">
							<h2 class="resume-name mb-0 text-uppercase">{{ user.first_name }} {{ user.last_name }}</h2>
							<div class="resume-tagline mb-3 mb-md-0">{{ resume.profession }}</div>
						</div><!--//resume-title-->
						<div class="resume-contact col-12 col-md-6 col-lg-4 col-xl-3">
							<ul class="list-unstyled mb-0">
								<li class="mb-2"><i class="fas fa-phone-square fa-fw fa-lg me-2 "></i><a class="resume-link" href="tel:{{ resume.phone }}">{{ resume.phone }}</a></li>
								<li class="mb-2"><i class="fas fa-envelope-square fa-fw fa-lg me-2"></i><a class="resume-link" href="mailto: {{ resume.email }}">{{ resume.email }}</a></li>
								<li class="mb-2"><i class="fas fa-globe fa-fw fa-lg me-2"></i><a class="resume-link" href="{{ resume.website }}">{{ resume.website }}</a></li>
								<li class="mb-0"><i class="fas fa-map-marker-alt fa-fw fa-lg me-2"></i>{{ resume.city }}, {{ resume.country }}</li>
							</ul>
						</div><!--//resume-contact-->
					</div><!--//row-->
					
				</div><!--//resume-header-->
				<hr>
				<div class="resume-intro py-3">
					<div class="row align-items-center">
						<div class="col-12 col-md-3 col-xl-2 text-center">
						    <img class="resume-profile-image mb-3 mb-md-0 me-md-5  ms-md-0 rounded mx-auto"
						        src="{{ resume.profile_photo.url }}" alt="image">
						</div>
						
						<div class="col text-start">
							<p class="mb-0">{{ resume.about_you }}</p>
						</div><!--//col-->
					</div>
				</div><!--//resume-intro-->
				<hr>
				<div class="resume-body">
					<div class="row">
						<div class="resume-main col-12 col-lg-8 col-xl-9   pe-0   pe-lg-5">
							<section class="work-section py-3">
								<h3 class="text-uppercase resume-section-heading mb-4">Work Experiences</h3>

								<div class="item mb-3">
									<div class="item-heading row align-items-center mb-2">
										<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">{{ resume.role_1 }}</h4>
										<div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end">{{ resume.company_1 }} | {{ resume.job_start_date_1 }} - {{ resume.job_end_date_1 }}</div>
										
									</div>
									<div class="item-content">
										<p>{{ resume.job_description_1 }}</p>
									</div>
								</div>

                                <div class="item mb-3">
                                    <div class="item-heading row align-items-center mb-2">
                                        <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">{{ resume.role_2 }}</h4>
                                        <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end">{{ resume.company_2 }} | {{ resume.job_start_date_2 }} - {{ resume.job_end_date_2 }}</div>
                                            
                                    </div>
                                    <div class="item-content">
                                        <p>{{ resume.job_description_2 }}</p>
                                    </div>
                                </div>

							</section><!--//work-section-->

							
							<section class="project-section py-3">
								<h3 class="text-uppercase resume-section-heading mb-4">Projects</h3>

								<div class="item mb-3">
									<div class="item-heading row align-items-center mb-2">
										<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">{{ resume.project_title_1 }}</h4>
										<div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end">{{ resume.project_date_1 }}</div>
										
									</div>
									<div class="item-content">
										<p>{{ resume.project_description_1 }}</p>
										
										
									</div>
								</div><!--//item-->

								<div class="item mb-3">
									<div class="item-heading row align-items-center mb-2">
										<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">{{ resume.project_title_2 }}</h4>
										<div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end">{{ resume.project_date_2 }}</div>
										
									</div>
									<div class="item-content">
										<p>{{ resume.project_description_2 }}</p>
										
										
									</div>
								</div><!--//item-->

							</section><!--//project-section-->	
						</div><!--//resume-main-->


						<aside class="resume-aside col-12 col-lg-4 col-xl-3 px-lg-4 pb-lg-4">

							<section class="skills-section py-3">
								<h3 class="text-uppercase resume-section-heading mb-4">Skills</h3>
								<div class="item">

									<ul class="list-unstyled resume-skills-list">
                                        {% for x in skills %}
										    <li class="mb-2">{{ x }}</li>
                                        {% endfor %}
									</ul>

								</div>
							</section><!--//skills-section-->


							<section class="education-section py-3">
								<h3 class="text-uppercase resume-section-heading mb-4">Education</h3>
								<ul class="list-unstyled resume-education-list">
									<li class="mb-3">
										<div class="resume-degree font-weight-bold">{{ resume.field_of_study_1 }}</div>
										<div class="resume-degree-org text-muted">{{ resume.school_name_1 }}</div>
										<div class="resume-degree-time text-muted">{{ resume.school_start_date_1 }} - {{ resume.school_end_date_1 }}</div>
									</li>
									<li class="mb-3">
										<div class="resume-degree font-weight-bold">{{ resume.field_of_study_2 }}</div>
										<div class="resume-degree-org text-muted">{{ resume.school_name_2 }}</div>
										<div class="resume-degree-time text-muted">{{ resume.school_start_date_2 }} - {{ resume.school_end_date_2 }}</div>
									</li>
								</ul>
							</section>

							<section class="education-section py-3">
									<h3 class="text-uppercase resume-section-heading mb-4">Awards</h3>
									<ul class="list-unstyled resume-awards-list">
									    <li class="mb-3">
											<div class="font-weight-bold">{{ resume.award_title_1 }}</div>
											<div class="text-muted">{{ resume.award_description_1 }} <span style="color:black">{{ resume.award_date_1 }}</span></div>
										</li>
										<li>
											<div class="font-weight-bold">{{ resume.award_title_2 }}</div>
											<div class="text-muted">{{ resume.award_description_2 }} <span style="color:black">{{ resume.award_date_2 }}</span></div>
										</li>
									</ul>
							</section>

							<section class="skills-section py-3">
								<h3 class="text-uppercase resume-section-heading mb-4">Languages</h3>
								<ul class="list-unstyled resume-lang-list">
                                    {% for x in speaking_languages %}
									    <li class="mb-2">{{ x }}</li>
                                    {% endfor %}
								</ul>
							</section>

							<section class="skills-section py-3">
								<h3 class="text-uppercase resume-section-heading mb-4">Interests</h3>
								<ul class="list-unstyled resume-interests-list mb-0">
                                    {% for x in interests %}
									    <li class="mb-2">{{ x }}</li>
                                    {% endfor %}
								</ul>
							</section>
									
								</aside>
							</div>
						</div>

						<hr>

						<div class="resume-footer text-center">
							<ul class="resume-social-list list-inline mx-auto mb-0 d-inline-block text-muted">
								<li class="list-inline-item mb-lg-0 me-3"><a class="resume-link" href="{{ resume.website }}"><i class="fas fa-globe fa-fw fa-lg me-2"></i><span class="d-none d-lg-inline-block text-muted">{{ resume.website }}</span></a></li>
								<li class="list-inline-item mb-lg-0 me-3"><a class="resume-link" href="{{ resume.linkedin }}"><i class="fab fa-linkedin fa-2x me-2" data-fa-transform="down-4"></i><span class="d-none d-lg-inline-block text-muted">{{ resume.linkedin }}</span></a></li>
								<li class="list-inline-item mb-lg-0 me-lg-3"><a class="resume-link" href="{{ resume.twitter }}"><i class="fab fa-twitter-square fa-2x me-2" data-fa-transform="down-4"></i><span class="d-none d-lg-inline-block text-muted">{{ resume.twitter }}</span></a></li>
							</ul>
						</div>
					</article>
					
				</div>
				
				<footer class="footer text-center py-4">
					<small class="copyright text-muted">Designed with <i class="fas fa-heart"></i> by <a class="theme-link" href="https://www.linkedin.com/in/aruneshkumar324/" target="_blank">Arunesh kumar</a> for Lovely People</small>
				</footer>
				
			</div><!--//main-wrapper-->
			

</body>
</html> 

