{% extends 'base.html' %}


{% block content %}

{% include 'includes/header.html' %}
{% include 'includes/sidebar.html' %}


 <main id="main" class="main">

    <div class="pagetitle">
      <h1>Resume Preview</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
          <li class="breadcrumb-item active">Resume Preview</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-6">

          <div class="card">
            <div class="card-body">
              <h1 class="pt-5">1</h1>
            </div>
          </div>

        </div>

        
      </div>
    </section>

  </main>


{% endblock %}