{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }} - Resume</title>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive HTML5 Resume/CV Template for Developers">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">    
    <link rel="shortcut icon" href="{{ resume.profile_photo.url }}">
    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- FontAwesome JS-->
	<script defer src="{% static 'orbitassets/assets/fontawesome/js/all.min.js' %}"></script>
    <!-- Global CSS -->
    <link rel="stylesheet" href="{% static 'orbitassets/assets/plugins/bootstrap/css/bootstrap.min.css' %}">
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="{% static 'orbitassets/assets/css/orbit-1.css' %}">
</head> 

<body>
    <div class="wrapper mt-lg-5">
        <div class="sidebar-wrapper">
            <div class="profile-container">
                <img class="profile" src="{{ resume.profile_photo.url }}" alt="" style="width:100px;height:100px;border-radius:50px;" />
                <h1 class="name">{{ user.first_name }} {{ user.last_name }}</h1>
                <h3 class="tagline">{{ resume.profession }} </h3>
            </div><!--//profile-container-->
            
            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
                    <li class="email"><i class="fas fa-envelope"></i><a href="mailto:{{ resume.email }}">{{ resume.email }}</a></li>
                    <li class="phone"><i class="fas fa-phone"></i><a href="tel: {{ resume.phone }}">{{ resume.phone }}</a></li>
                    <li class="website"><i class="fas fa-globe"></i><a href="https://{{ website }}" target="_blank">{{ website }}</a></li>
                    <li class="linkedin"><i class="fab fa-linkedin-in"></i><a href="https://www.linkedin.com/in/{{ linkedin }}" target="_blank">{{ linkedin }}</a></li>
                    <li class="twitter"><i class="fab fa-twitter"></i><a href="https://twitter.com/{{ twitter }}" target="_blank">{{ twitter }}</a></li>
                </ul>
            </div><!--//contact-container-->
            <div class="education-container container-block">
                <h2 class="container-block-title">Education</h2>
                <div class="item">
                    <h4 class="degree">{{ resume.field_of_study_1 }}</h4>
                    <h5 class="meta">{{ resume.school_name_1 }}</h5>
	                <div class="time">{{ resume.school_start_date_1 }} - {{ resume.school_end_date_1 }}</div>
                </div>
                <div class="item">
                    <h4 class="degree">{{ resume.field_of_study_2 }}</h4>
                    <h5 class="meta">{{ resume.school_name_2 }}</h5>
	                <div class="time">{{ resume.school_start_date_2 }} - {{ resume.school_end_date_2 }}</div>
                </div>
            </div><!--//education-container-->
            
            <div class="languages-container container-block">
                <h2 class="container-block-title">Languages</h2>
                <ul class="list-unstyled interests-list">
                    {% for x in speaking_languages %}
                        <li>{{ x }}</li>
                    {% endfor %}
                </ul>
            </div><!--//interests-->
            
            <div class="interests-container container-block">
                <h2 class="container-block-title">Interests</h2>
                <ul class="list-unstyled interests-list">
                    {% for x in interests %}
                        <li>{{ x }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="interests-container container-block">
                <h2 class="container-block-title">Skills</h2>
                <ul class="list-unstyled interests-list">
                    {% for x in skills %}
                        <li>{{ x }}</li>
                    {% endfor %}
                </ul>
            </div>
            
            
        </div><!--//sidebar-wrapper-->
        
        <div class="main-wrapper" style="height:1400px;">
            
            <section class="section summary-section">
                <h2 class="section-title"><span class="icon-holder"><i class="fas fa-user"></i></span>Career Profile</h2>
                <div class="summary">
                    <p>{{ resume.about_you }}</p>
                </div><!--//summary-->
            </section><!--//section-->
            
            <section class="section experiences-section">
                <h2 class="section-title"><span class="icon-holder"><i class="fas fa-briefcase"></i></span>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">{{ resume.role_1 }}</h3>
                            <div class="time">{{ resume.job_start_date_1 }} - {{ resume.job_end_date_1 }}</div>
                        </div><!--//upper-row-->
                        <div class="company">{{ resume.company_1 }} - {{ resume.job_city_1 }}, {{ resume.job_country_1 }}</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>{{ resume.job_description_1 }}</p>
                    </div><!--//details-->
                </div>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">{{ resume.role_2 }}</h3>
                            <div class="time">{{ resume.job_start_date_2 }} - {{ resume.job_end_date_2 }}</div>
                        </div><!--//upper-row-->
                        <div class="company">{{ resume.company_2 }} - {{ resume.job_city_2 }}, {{ resume.job_country_2 }}</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>{{ resume.job_description_2 }}</p>
                    </div><!--//details-->
                </div>
                
                
                
                
            </section>
            
            <section class="section projects-section">
                <h2 class="section-title"><span class="icon-holder"><i class="fas fa-archive"></i></span>Projects</h2>
                
                <div class="item">
                    <span class="project-title" style="color:#2d7788;font-weight:bold;">{{ resume.project_title_1 }}</span> - {{ resume.project_date_1 }}<br><span class="project-tagline">
                        {{ resume.project_description_1 }}
                    </span>    
                </div>

                <div class="item">
                    <span class="project-title" style="color:#2d7788;font-weight:bold;">{{ resume.project_title_2 }}</span> - {{ resume.project_date_2 }}<br><span class="project-tagline">
                        {{ resume.project_description_2 }}
                    </span>    
                </div>                
                
            </section>

            
        </div><!--//main-body-->
    </div>
 
    <footer class="footer">
        <div class="text-center">
            <small class="copyright">Designed with <i class="fas fa-heart"></i> by <a href="https://www.linkedin.com/in/aruneshkumar324/" target="_blank">Arunesh kumar</a> for Lovely People</small>
        </div><!--//container-->
    </footer><!--//footer-->
        
</body>
</html> 

