{% extends 'base.html' %}

{% block content %}

{% include 'includes/header.html' %}
{% include 'includes/sidebar.html' %}


<main id="main" class="main">

    <div class="pagetitle">
      <h1>Account Settings</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
          <li class="breadcrumb-item active">Account Settings</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->


    <section class="section">
      <div class="row">
        <div class="col-lg-8">

            <div class="card">
                <div class="card-body">
                <h5 class="card-title">Update Your Profile Details</h5>

                    <form action="{% url 'account_settings' %}" method="POST" class="row g-3">

                        {% csrf_token %}

                        <input type="hidden" name="user_id" class="form-control" value="{{ user.id }}">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" name="first_name" class="form-control" id="floatingPassword" placeholder="First Name" value="{{ user.first_name }}" required>
                                <label for="floatingPassword">First Name</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" name="last_name" class="form-control" id="floatingPassword" placeholder="Last Name" value="{{ user.last_name }}" required>
                                <label for="floatingPassword">Last Name</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" name="username" class="form-control" id="floatingPassword" placeholder="Username" value="{{ user.username }}" required>
                                <label for="floatingPassword">Username</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="email" name="email" class="form-control" id="floatingName" placeholder="Email" value="{{ user.email }}" required>
                                <label for="floatingName">Your Email</label>
                            </div>
                        </div>
                        
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>

                    </form><!-- End floating Labels Form -->

                </div>
            </div>


            {% comment %} CHANGE PASSWORD {% endcomment %}
            <div class="card">
                <div class="card-body">
                     {% if message %}
                        <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
                            <i class="bi bi-exclamation-octagon me-1"></i>
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                <h5 class="card-title">Change your password</h5>

                    <form action="{% url 'new_password' %}" method="POST" class="row g-3">

                        {% csrf_token %}

                        <input type="hidden" name="user_id" class="form-control" value="{{ user.id }}">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="password" name="passsword" class="form-control" id="floatingPassword" placeholder="New Passsword" required>
                                <label for="floatingPassword">New Passsword</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="password" name="confirm_passsword" class="form-control" id="floatingPassword" placeholder="New Confirm Passsword"  required>
                                <label for="floatingPassword">New Confirm Passsword</label>
                            </div>
                        </div>
                       
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>

                    </form><!-- End floating Labels Form -->

                </div>
            </div>



                    {% if delete_message %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <i class="bi bi-exclamation-octagon me-1"></i>
                            {{ delete_message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}

            <div class="text-center">
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#verticalycentered">Delete Account</button>
            </div>

            

        </div>
      </div>
    </section>

  </main><!-- End #main -->



     
{% comment %} DELETE ACCOUNT {% endcomment %}

<div class="modal fade" id="verticalycentered" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="text-danger p-2" style="font-weight:bold;">WARNING</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="font-size:2.5rem;font-weight:bold;"></button>
            </div>
            <div class="modal-body">

                <divclass="p-2">
                    <span style="font-size:1.5rem;color:#c3c904;font-weight:bold;">NOTE :  </span>
                    <span style="font-size:1.1rem;">If your are going to delete your account then you will lose every thing like your all resumes and also your personal details</span>
                </divclass=>

                <hr>

                <div class="p-2">
                    <form action="{% url 'delete_account' user.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-check pb-3">
                            <input class="form-check-input" type="checkbox" id="gridCheck1" name="sure">
                            <label class="form-check-label" for="gridCheck1">I am sure to delete my account.</label>
                        </div>
                        <button type="submit" class="btn btn-danger">Delete Account</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>


{% endblock %}