{% extends 'base.html' %}

{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}


{% include 'includes/header.html' %}


{% include 'includes/sidebar.html' %}

  

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-7">
          <div class="row">

            <div class="col-xxl-6 col-md-6">
              <div class="card info-card sales-card">

                <div class="card-body">
                    <a href="{% url 'all_resume' %}"><h5 class="card-title">Total Reusmes</h5></a>

                  <div class="d-flex align-items-center justify-content-around">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="ri-table-fill"></i>
                    </div>
                    <div class="ps-3">
                        <a href="{% url 'all_resume' %}"><h6>{{ total_resumes }}</h6></a>
                    </div>
                    <div class="ps-3">
                      <a href="{% url 'all_resume' %}"><p class="text-muted small pt-2 ps-1">Open</p></a>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div class="col-xxl-6 col-md-6">
              <div class="card info-card revenue-card">

                <div class="card-body">
                    <a href="{% url 'resume_template' %}"><h5 class="card-title">Active Resume Template</h5></a>

                  <div class="d-flex align-items-center justify-content-around">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="ri-pages-line"></i>
                    </div>
                    <div class="ps-3">
                      <a href="{% url 'resume_template' %}"><h6>{{ template_name }}</h6></a>
                    </div>
                    <div class="ps-3">
                      <a href="{% url 'resume_template' %}"><p class="text-muted small pt-2 ps-1">Open</p></a>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div class="col-xxl-6 col-xl-12">

              <div class="card info-card customers-card">

                <div class="card-body">
                  <h5 class="card-title">Account Created Date</h5>

                  <div class="d-flex align-items-center justify-content-around">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-person"></i>
                    </div>
                    <div class="ps-3">
                      <p class="text-muted small pt-2 ps-1">{{ date_joined }}</p>
                    </div>
                  </div>

                </div>
              </div>
            </div>


            <div class="col-xxl-6 col-xl-12">

              <div class="card info-card customers-card">

                <div class="card-body">
                  <h5 class="card-title">Last Login</h5>

                  <div class="d-flex align-items-center justify-content-around">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-person"></i>
                    </div>
                    <div class="ps-3">
                      <p class="text-muted small pt-2 ps-1">{{ last_login }}</p>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            

          </div>
          
        </div><!-- End Left side columns -->
        

        <!-- Right side columns -->
        <div class="col-lg-5">

          <div class="card">

            <div class="card-body">
              <h5 class="card-title">Recent 5 Resume Added</h5>

              <div class="activity">
                {% for resume in resumes %}
                    <div class="activity-item d-flex">
                        <div class="activite-label">{{ resume.updated_date|time:"TIME_FORMAT" }}  {{ resume.updated_date|date:"d-M-Y" }}</div>
                        <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                        <div class="activity-content">
                            <a href="{% url 'read_resume' resume.id %}" target="_blank" class="fw-bold text-dark">{{ resume.resume_title }}</a>
                        </div>
                    </div>
                {% endfor %}
                
              </div>

            </div>
          </div><!-- End Recent Activity -->

         
        </div><!-- End Right side columns -->

      </div>




    <div class="card">
            <div class="card-header" style="color:#012970;font-weight:bold;font-size:1.2rem;">Feedback</div>

            <div class="card-body">

              {% if feedback %}

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Feature</th>
                        <th scope="col">Feedback</th>
                        <th scope="col">Date</th>
                    </tr>
                    </thead>
                    <tbody>

                        {% for feedback in feedback %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ feedback.feature }}</td>
                            <td>{{ feedback.feedback }}</td>
                            <td>{{ feedback.created_date|date:"d-M-Y" }}</td>

                          
                        </tr>


                        {% endfor %}

                    
                    </tbody>
                </table>
              

            {% else %}
                <h2 class="pt-4">You have not created any resume yet. <a href="{% url 'build_resume' %}">Create Resume Now</a></h2>
            {% endif %}

            </div>
            
          </div>

            

            </div>
            </div>

    </section>

  </main><!-- End #main -->





{% endblock %}