{% extends 'base.html' %}


{% block content %}

{% include 'includes/header.html' %}
{% include 'includes/sidebar.html' %}


<main id="main" class="main">

    <div class="pagetitle">
      <h1>Update Your Resume</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
          <li class="breadcrumb-item active">Update Your Resume</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->


    <section class="section">
      <div class="row">
        <div class="col-lg-8">

            <div class="card">
                <div class="card-body">
                <h5 class="card-title" style="font-size:2rem;">Update Your Resume</h5>
                <p class="card-text">If you want update your resume you can do. ( But if you want update your name, username, email or password then <a href="{% url 'account_settings' %}">click Me<a> )</p>
                </div>
            </div>

                    <!-- Floating Labels Form -->
                    <form action="{% url 'update_resume' resume.id %}" method="POST" class="row g-3" enctype='multipart/form-data'>

                        {% csrf_token %}

                        {% comment %} BASIC INFORMATION {% endcomment %}
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <h5 class="card-title pt-3 pb-3" style="margin:0;padding:0">YOUR BASIC DETAILS</h5>

                                    <div class="col-md-12 p-2">
                                        <label for="formFile">Profile Photo</label>
                                        <input class="form-control" type="file" id="formFile" name="profile_photo" required>
                                    </div>

                                    <div class="col-md-6 p-2">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="floatingName" name="profession" value="{{ resume.profession }}" >
                                            <label for="floatingName">Profession</label>
                                        </div>
                                    </div>

                                    <div class="col-md-6 p-2">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" name="country" id="floatingName" value="{{ resume.country }}" >
                                            <label for="floatingName">Country</label>
                                        </div>
                                    </div>

                                    <div class="col-md-6 p-2">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="floatingName" name="city" value="{{ resume.city }}" >
                                            <label for="floatingName">City</label>
                                        </div>
                                    </div>

                                    <div class="col-md-6 p-2">
                                        <div class="form-floating">
                                            <input type="number" class="form-control" id="floatingName" name="phone" value="{{ resume.phone }}" >
                                            <label for="floatingName">Phone</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        {% comment %} Briefly Tell Us About Your Background {% endcomment %}
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <h5 class="card-title pt-3 pb-3" style="margin:0;padding:0">Briefly Tell Us About Your Background</h5>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <textarea class="form-control" style="height: 120px; width:100%;" name="about_you" >{{ resume.about_you }}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        {% comment %} SKILLS {% endcomment %}
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <h5 class="card-title pt-3 pb-3" style="margin:0;padding:0">SKILLS</h5>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <textarea class="form-control" style="height: 110px; width:100%;" name="skills" >{{ resume.skills }}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        {% comment %} INTERESTS {% endcomment %}
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <h5 class="card-title pt-3 pb-3" style="margin:0;padding:0">INTERESTS</h5>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <textarea class="form-control" style="height: 110px; width:100%;" name="interests" >{{ resume.interests }}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        {% comment %} SPEAKING LANGUAGES {% endcomment %}
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <h5 class="card-title pt-3 pb-3" style="margin:0;padding:0">SPEAKING LANGUAGES</h5>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <textarea class="form-control" style="height: 110px; width:100%;" name="speaking_languages" >{{ resume.speaking_languages }}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        {% comment %} AWARDS OR CERTIFICATES 1 {% endcomment %}
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <h5 class="card-title pt-3 pb-3" style="margin:0;padding:0">AWARDS OR CERTIFICATES - 1</h5>
                                    <div class="col-md-6 p-2">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="floatingName" name="award_title_1" value="{{ resume.award_title_1 }}">
                                            <label for="floatingName">Award Title</label>
                                        </div>
                                    </div>

                                    <div class="col mb-6 p-2">
                                        <label for="inputDate" class="col-sm-5 col-form-label">Award Date</label>
                                        <div class="col-sm-10">
                                            <input type="date" class="form-control" name="award_date_1" min="1980-01-01" max="2022-12-31" value="{{ resume.award_date_1 }}">
                                        </div>
                                    </div>

                                    <div class="row mt-3 p-2">
                                        <div class="col-sm-12">
                                            <textarea class="form-control" style="height: 100px; width:100%;" placeholder="About Award" name="award_description_1">{{ resume.award_description_1 }}</textarea>
                                        </div>
                                    </div>
                                </div>

                                <hr style="height:5px;border-radius:50px;">

                                <div class="row">
                                    <h5 class="card-title pt-3 pb-3" style="margin:0;padding:0">AWARDS OR CERTIFICATES - 2</h5>
                                    <div class="col-md-6 p-2">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="floatingName" name="award_title_2" value="{{ resume.award_title_2 }}">
                                            <label for="floatingName">Award Title</label>
                                        </div>
                                    </div>

                                    <div class="col mb-6 p-2">
                                        <label for="inputDate" class="col-sm-5 col-form-label">Award Date</label>
                                        <div class="col-sm-10">
                                            <input type="date" class="form-control" name="award_date_2" min="1980-01-01" max="2022-12-31" value="{{ resume.award_date_2 }}">
                                        </div>
                                    </div>

                                    <div class="row mt-3 p-2">
                                        <div class="col-sm-12">
                                            <textarea class="form-control" style="height: 100px; width:100%;" placeholder="About Award" name="award_description_2">{{ resume.award_description_2 }}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        {% comment %} WORK HISTORY or INTERNSHIP {% endcomment %}
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <h5 class="card-title pt-3 pb-3" style="margin:0;padding:0">WORK HISTORY or INTERNSHIP - 1</h5>

                                    <div class="col-md-6 p-2">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="floatingName" name="company_1" value="{{ resume.company_1 }}">
                                            <label for="floatingName">Company Name</label>
                                        </div>
                                    </div>

                                    <div class="col-md-6 p-2">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="floatingName" name="role_1" value="{{ resume.role_1 }}">
                                            <label for="floatingName">Role</label>
                                        </div>
                                    </div>

                                    <div class="col-md-6 p-2">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="floatingName" name="job_city_1" value="{{ resume.job_city_1 }}">
                                            <label for="floatingName">City</label>
                                        </div>
                                    </div>

                                    <div class="col-md-6 p-2">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="floatingName" name="job_country_1" value="{{ resume.job_country_1 }}">
                                            <label for="floatingName">Country</label>
                                        </div>
                                    </div>

                                    <div class="col mb-6 p-2">
                                        <label for="inputDate" class="col-sm-5 col-form-label">Job Start Date</label>
                                        <div class="col-sm-10">
                                            <input type="date" class="form-control" name="job_start_date_1" min="1980-01-01" max="2022-12-31" value="{{ resume.job_start_date_1 }}">
                                        </div>
                                    </div>

                                    <div class="col mb-6 p-2">
                                        <label for="inputDate" class="col-sm-5 col-form-label">Job End Date</label>
                                        <div class="col-sm-10">
                                            <input type="date" class="form-control" name="job_end_date_1" min="1980-01-01" max="2022-12-31" value="{{ resume.job_end_date_1 }}">
                                        </div>
                                    </div>

                                    <div class="row mt-3 p-2">
                                        <div class="col-sm-12">
                                            <textarea class="form-control" style="height: 100px; width:100%;" placeholder="Tell me about job" name="job_description_1">{{ resume.job_description_1 }}</textarea>
                                        </div>
                                    </div>
                                </div>
                                
                                <hr style="height:5px;border-radius:50px;">

                                <div class="row">
                                    <h5 class="card-title pt-3 pb-3" style="margin:0;padding:0">WORK HISTORY or INTERNSHIP - 2</h5>

                                    <div class="col-md-6 p-2">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="floatingName" name="company_2" value="{{ resume.company_2 }}">
                                            <label for="floatingName">Company Name</label>
                                        </div>
                                    </div>

                                    <div class="col-md-6 p-2">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="floatingName" name="role_2" value="{{ resume.role_2 }}">
                                            <label for="floatingName">Role</label>
                                        </div>
                                    </div>

                                    <div class="col-md-6 p-2">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="floatingName" name="job_city_2" value="{{ resume.job_city_2 }}">
                                            <label for="floatingName">City</label>
                                        </div>
                                    </div>

                                    <div class="col-md-6 p-2">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="floatingName" name="job_country_2" value="{{ resume.job_country_2 }}">
                                            <label for="floatingName">Country</label>
                                        </div>
                                    </div>

                                    <div class="col mb-6 p-2">
                                        <label for="inputDate" class="col-sm-5 col-form-label">Job Start Date</label>
                                        <div class="col-sm-10">
                                            <input type="date" class="form-control" name="job_start_date_2" min="1980-01-01" max="2022-12-31" value="{{ resume.job_start_date_2 }}">
                                        </div>
                                    </div>

                                    <div class="col mb-6 p-2">
                                        <label for="inputDate" class="col-sm-5 col-form-label">Job End Date</label>
                                        <div class="col-sm-10">
                                            <input type="date" class="form-control" name="job_end_date_2" min="1980-01-01" max="2022-12-31" value="{{ resume.job_end_date_2 }}">
                                        </div>
                                    </div>

                                    <div class="row mt-3 p-2">
                                        <div class="col-sm-12">
                                            <textarea class="form-control" style="height: 100px; width:100%;" placeholder="Tell me about job" name="job_description_2">{{ resume.job_description_2 }}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        {% comment %} EDUCATION {% endcomment %}
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <h5 class="card-title pt-3 pb-3" style="margin:0;padding:0">EDUCATION - 1</h5>

                                    <div class="col-md-6 p-2">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="floatingName" name="school_name_1" value="{{ resume.school_name_1 }}">
                                            <label for="floatingName">School Name</label>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6 p-2">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="floatingName" name="field_of_study_1" value="{{ resume.field_of_study_1 }}">
                                            <label for="floatingName">Field of Study</label>
                                        </div>
                                    </div>

                                    <div class="col mb-6 p-2">
                                        <label for="inputDate" class="col-sm-5 col-form-label">Start Date Stduy</label>
                                        <div class="col-sm-10">
                                            <input type="date" class="form-control" name="school_start_date_1" min="1980-01-01" max="2022-12-31" value="{{ resume.school_start_date_1 }}">
                                        </div>
                                    </div>

                                    <div class="col mb-6 p-2">
                                        <label for="inputDate" class="col-sm-5 col-form-label">End Date Study</label>
                                        <div class="col-sm-10">
                                            <input type="date" class="form-control" name="school_end_date_1" min="1980-01-01" max="2022-12-31" value="{{ resume.school_end_date_1 }}">
                                        </div>
                                    </div>
                                </div>

                                <hr style="height:5px;border-radius:50px;">

                                <div class="row">
                                    <h5 class="card-title pt-3 pb-3" style="margin:0;padding:0">EDUCATION - 2</h5>

                                    <div class="col-md-6 p-2">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="floatingName" name="school_name_2" value="{{ resume.school_name_2 }}">
                                            <label for="floatingName">School Name</label>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6 p-2">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="floatingName" name="field_of_study_2" value="{{ resume.field_of_study_2 }}">
                                            <label for="floatingName">Field of Study</label>
                                        </div>
                                    </div>

                                    <div class="col mb-6 p-2">
                                        <label for="inputDate" class="col-sm-5 col-form-label">Start Date Stduy</label>
                                        <div class="col-sm-10">
                                            <input type="date" class="form-control" name="school_start_date_2" min="1980-01-01" max="2022-12-31" value="{{ resume.school_start_date_2 }}">
                                        </div>
                                    </div>

                                    <div class="col mb-6 p-2">
                                        <label for="inputDate" class="col-sm-5 col-form-label">End Date Study</label>
                                        <div class="col-sm-10">
                                            <input type="date" class="form-control" name="school_end_date_2" min="1980-01-01" max="2022-12-31" value="{{ resume.school_end_date_2 }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        {% comment %} PROJECT {% endcomment %}
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <h5 class="card-title pt-3 pb-3" style="margin:0;padding:0">PROJECT - 1</h5>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="floatingName" name="project_title_1" value="{{ resume.project_title_1 }}">
                                            <label for="floatingName">Project Title</label>
                                        </div>
                                    </div>

                                    <div class="col mb-6">
                                        <label for="inputDate" class="col-sm-10 col-form-label">Project Created Date</label>
                                        <div class="col-sm-10">
                                            <input type="date" class="form-control" name="project_date_1" min="1980-01-01" max="2022-12-31" value="{{ resume.project_date_1 }}">
                                        </div>
                                    </div>

                                    <div class="row mt-3">
                                        <div class="col-sm-12">
                                            <textarea class="form-control" style="height: 120px; width:100%;" placeholder="Briefly Explain About Your Project" name="project_description_1">{{ resume.project_description_1 }}</textarea>
                                        </div>
                                    </div>
                                </div>

                                <hr style="height:5px;border-radius:50px;">

                                <div class="row">
                                    <h5 class="card-title pt-3 pb-3" style="margin:0;padding:0">PROJECT - 2</h5>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="floatingName" name="project_title_2" value="{{ resume.project_title_2 }}">
                                            <label for="floatingName">Project Title</label>
                                        </div>
                                    </div>

                                    <div class="col mb-6">
                                        <label for="inputDate" class="col-sm-10 col-form-label">Project Created Date</label>
                                        <div class="col-sm-10">
                                            <input type="date" class="form-control" name="project_date_2" min="1980-01-01" max="2022-12-31" value="{{ resume.project_date_2 }}">
                                        </div>
                                    </div>

                                    <div class="row mt-3">
                                        <div class="col-sm-12">
                                            <textarea class="form-control" style="height: 120px; width:100%;" placeholder="Briefly Explain About Your Project" name="project_description_2">{{ resume.project_description_2 }}</textarea>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        
                        <!-- Social Account -->
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <h5 class="card-title pt-3 pb-3" style="margin:0;padding:0">Social Account</h5>
                                    <div class="col-md-12 mb-3">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="floatingName" name="website" value="{{ resume.website }}">
                                            <label for="floatingName">Website</label>
                                        </div>
                                    </div>

                                    <div class="col-md-12 mb-3">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="floatingName" name="twitter" value="{{ resume.twitter }}">
                                            <label for="floatingName">Twitter Account</label>
                                        </div>
                                    </div>

                                    <div class="col-md-12 mb-3">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="floatingName" name="linkedin" value="{{ resume.linkedin }}">
                                            <label for="floatingName">Linkedin Account</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Create Resume</button>
                        </div>

                    </form>


      </div>
    </section>

  </main><!-- End #main -->


{% endblock %}